@import "tailwindcss";

@layer utilities {
  @keyframes floatParticles {
    0% { transform: translateY(0) translateX(0); opacity: 0.6; }
    50% { transform: translateY(-40px) translateX(20px); opacity: 1; }
    100% { transform: translateY(0) translateX(0); opacity: 0.6; }
  }

  .particles::before,
  .particles::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #84ff69, #42e3ff, transparent);
    border-radius: 50%;
    animation: floatParticles 8s ease-in-out infinite;
    filter: blur(40px);
  }

  .particles::after {
    left: 60%;
    top: 30%;
    animation-duration: 3s;
  }

  .particles::before {
    left: 20%;
    top: 60%;
  }
}
